In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/ai mcp/데이터분석/data/idol.csv')
df

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [3]:
new_columns = ['name', 'group', 'company', 'gender', 'birthday', 'height', 'blood', 'brand']
df.columns = new_columns
df

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [4]:
df.sort_index(ascending=False)

    name  group company gender    birthday  height blood    brand
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302

In [5]:
df.sort_values(by='height', ascending=False)

    name  group company gender    birthday  height blood    brand
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

In [6]:
df.sort_values(by=['height', 'brand'], ascending=[False, False], na_position='first')

    name  group company gender    birthday  height blood    brand
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767

In [7]:
df.loc[:, 'name'] # df['name']

0       지민
1       정국
2       민지
3       하니
4        뷔
5      다니엘
6       혜인
7       지수
8       해린
9       태연
10      RM
11      제니
12     옹성우
13      리사
14      로제
15      윤아
16      조이
17      슬기
18    강다니엘
19       진
Name: name, dtype: object

In [8]:
df.loc[2:5, ['name', 'gender', 'height']]

  name gender  height
2   민지     여자   169.0
3   하니     여자   161.7
4    뷔     남자   179.0
5  다니엘     여자   165.0

In [9]:
df.iloc[1:5, 0:2]

  name  group
1   정국  방탄소년단
2   민지    뉴진스
3   하니    뉴진스
4    뷔  방탄소년단

In [10]:
df[df['height'] >= 180]['name']

10      RM
18    강다니엘
Name: name, dtype: object

In [11]:
df[df['height'] >= 180][['name', 'gender', 'height']]

    name gender  height
10    RM     남자   181.0
18  강다니엘     남자   182.0

In [12]:
df.loc[df['height'] >= 180, ['name', 'gender', 'height']]

    name gender  height
10    RM     남자   181.0
18  강다니엘     남자   182.0

In [13]:
df.isna()

     name  group  company  gender  birthday  height  blood  brand
0   False  False    False   False     False   False  False  False
1   False  False    False   False     False   False  False  False
2   False  False    False   False     False   False  False  False
3   False  False    False   False     False   False  False  False
4   False  False    False   False     False   False  False  False
5   False  False    False   False     False   False   True  False
6   False  False    False   False     False   False  False  False
7   False  False    False   False     False   False  False  False
8   False  False    False   False     False   False  False  False
9   False  False    False   False     False    True  False  False
10  False  False    False   False     False   False  False  False
11  False  False    False   False     False   False  False  False
12  False  False    False   False     False   False  False  False
13  False  False    False   False     False   False  False  False
14  False  False    False   False     False   False  False  False
15  False  False    False   False     False   False  False  False
16  False  False    False   False     False   False  False  False
17  False  False    False   False     False   False  False  False
18  False  False     True   False     False   False  False  False
19  False  False    False   False     False   False  False  False

In [14]:
df.isnull()

     name  group  company  gender  birthday  height  blood  brand
0   False  False    False   False     False   False  False  False
1   False  False    False   False     False   False  False  False
2   False  False    False   False     False   False  False  False
3   False  False    False   False     False   False  False  False
4   False  False    False   False     False   False  False  False
5   False  False    False   False     False   False   True  False
6   False  False    False   False     False   False  False  False
7   False  False    False   False     False   False  False  False
8   False  False    False   False     False   False  False  False
9   False  False    False   False     False    True  False  False
10  False  False    False   False     False   False  False  False
11  False  False    False   False     False   False  False  False
12  False  False    False   False     False   False  False  False
13  False  False    False   False     False   False  False  False
14  False  False    False   False     False   False  False  False
15  False  False    False   False     False   False  False  False
16  False  False    False   False     False   False  False  False
17  False  False    False   False     False   False  False  False
18  False  False     True   False     False   False  False  False
19  False  False    False   False     False   False  False  False

In [15]:
df[df['height'].isna()]['name']

9    태연
Name: name, dtype: object

In [16]:
df.loc[df['company'].notnull(), ['name', 'company', 'group', 'gender']]

   name company  group gender
0    지민     빅히트  방탄소년단     남자
1    정국     빅히트  방탄소년단     남자
2    민지     어도어    뉴진스     여자
3    하니     어도어    뉴진스     여자
4     뷔     빅히트  방탄소년단     남자
5   다니엘     어도어    뉴진스     여자
6    혜인     어도어    뉴진스     여자
7    지수     와이지   블랙핑크     여자
8    해린     어도어    뉴진스     여자
9    태연     에스엠   소녀시대     여자
10   RM     빅히트  방탄소년단     남자
11   제니     와이지   블랙핑크     여자
12  옹성우    판타지오    워너원     남자
13   리사     와이지   블랙핑크     여자
14   로제     와이지   블랙핑크     여자
15   윤아     에스엠   소녀시대     여자
16   조이     빅히트   레드벨벳     여자
17   슬기     빅히트   레드벨벳     여자
19    진     빅히트  방탄소년단     남자

In [17]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [18]:
height = df_copy['height'].mean()
height

np.float64(170.53684210526316)

In [19]:
df_copy['height'] = df_copy['height'].fillna(height)
df_copy['height']

0     174.000000
1     179.000000
2     169.000000
3     161.700000
4     179.000000
5     165.000000
6     170.000000
7     162.000000
8     164.500000
9     170.536842
10    181.000000
11    163.000000
12    179.000000
13    167.000000
14    168.000000
15    168.000000
16    168.000000
17    161.000000
18    182.000000
19    179.000000
Name: height, dtype: float64

In [20]:
height = df_copy['height'].median() # 50%값, 중위
height

168.5

In [21]:
df_copy['height'].fillna(height, inplace=True)
df_copy['height']

0     174.000000
1     179.000000
2     169.000000
3     161.700000
4     179.000000
5     165.000000
6     170.000000
7     162.000000
8     164.500000
9     170.536842
10    181.000000
11    163.000000
12    179.000000
13    167.000000
14    168.000000
15    168.000000
16    168.000000
17    161.000000
18    182.000000
19    179.000000
Name: height, dtype: float64

In [22]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [23]:
dic = {
    'name': '김사과',
    'group': '과수원',
    'company': '애플',
    'gender': '여자',
    'birthday': '2000-01-01',
    'height': 160.0,
    'blood': 'A',
    'brand': 1234567
}

In [24]:
df_copy = pd.concat([df_copy, pd.DataFrame(dic, index=[0])], ignore_index=True)
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567

In [25]:
df_copy['nation'] = '대한민국'
df_copy.head()

  name  group company gender    birthday  height blood    brand nation
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국

In [26]:
df_copy.loc[df_copy['name'] == '김사과', 'nation'] = '미국'
df_copy.tail()

    name  group company gender    birthday  height blood    brand nation
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567     미국

In [27]:
df_copy.drop(20, axis=0) # 0: 행, 1: 열

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국

In [28]:
df_copy.drop('nation', axis=1)

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567

In [29]:
df_copy.drop(['nation', 'group'], axis=1)

    name company gender    birthday  height blood    brand
0     지민     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지     어도어     여자  2004-05-07   169.0     A  4437081
3     하니     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인     어도어     여자  2008-04-21   170.0     O  2301785
7     지수     와이지     여자  1995-01-03   162.0     A  2227460
8     해린     어도어     여자  2006-05-15   164.5     B  2173376
9     태연     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사     와이지     여자  1997-03-27   167.0     A  1912800
14    로제     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘     NaN     남자  1996-12-10   182.0     A  1706444
19     진     빅히트     남자  1992-12-04   179.0     O  1680587
20   김사과      애플     여자  2000-01-01   160.0     A  1234567

In [30]:
df_copy['blood']

0       A
1       A
2       A
3       O
4      AB
5     NaN
6       O
7       A
8       B
9       A
10      A
11      B
12      A
13      A
14      B
15      B
16      A
17      A
18      A
19      O
20      A
Name: blood, dtype: object

In [31]:
df_copy['blood'].drop_duplicates()

0      A
3      O
4     AB
5    NaN
8      B
Name: blood, dtype: object

In [32]:
df_copy['blood'].drop_duplicates(keep='last')

4      AB
5     NaN
15      B
19      O
20      A
Name: blood, dtype: object

In [33]:
df_copy['blood'].value_counts()

blood
A     12
B      4
O      3
AB     1
Name: count, dtype: int64

In [34]:
df_copy['company'].value_counts()

company
빅히트     7
어도어     5
와이지     4
에스엠     2
판타지오    1
애플      1
Name: count, dtype: int64

In [35]:
df_copy['company'].value_counts(dropna=False) # NaN를 포함

company
빅히트     7
어도어     5
와이지     4
에스엠     2
판타지오    1
NaN     1
애플      1
Name: count, dtype: int64

In [36]:
df1 = pd.read_csv('/content/drive/MyDrive/ai mcp/데이터분석/data/idol.csv')
df2 = pd.read_csv('/content/drive/MyDrive/ai mcp/데이터분석/data/idol2.csv')

In [37]:
df2

      이름    연봉  가족수
0     지민  3000    3
1     정국  3500    3
2     민지  3200    4
3     하니  3050    4
4      뷔  4300    3
5    다니엘  2900    5
6     혜인  3400    6
7     지수  4500    5
8     해린  4200    4
9     태연  4300    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [38]:
df_copy = df1.copy()

In [39]:
pd.concat([df1, df_copy])

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [40]:
df_concat = pd.concat([df1, df_copy])

# reset_index(): index를 새롭게 적용
# drop=True 옵션을 사용하여 기존 index가 컬럼으로 만들어지는 것을 방지
df_concat.reset_index(drop=True)

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587
20    지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
21    정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
22    민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
23    하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
24     뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
25   다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
26    혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
27    지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
28    해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
29    태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
30    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
31    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
32   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
33    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
34    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
35    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
36    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
37    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
38  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
39     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [41]:
df3 = df2.drop([1, 3, 5, 7, 9])
df3

      이름    연봉  가족수
0     지민  3000    3
2     민지  3200    4
4      뷔  4300    3
6     혜인  3400    6
8     해린  4200    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [42]:
df_right = df2.drop([1, 3, 5, 7, 9], axis=0)
df_right

      이름    연봉  가족수
0     지민  3000    3
2     민지  3200    4
4      뷔  4300    3
6     혜인  3400    6
8     해린  4200    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [43]:
df_right = df_right.reset_index(drop=True)
df_right

      이름    연봉  가족수
0     지민  3000    3
1     민지  3200    4
2      뷔  4300    3
3     혜인  3400    6
4     해린  4200    4
5     RM  3700    3
6     제니  3850    5
7    옹성우  3900    4
8     리사  4100    3
9     로제  4150    3
10    윤아  3000    3
11    조이  3500    3
12    슬기  3200    4
13  강다니엘  3050    4
14     진  4300    3

In [44]:
dic = {
    '이름': '김사과',
    '연봉': 9000,
    '가족수': 10
}

In [45]:
df_right = pd.concat([df_right, pd.DataFrame(dic, index=[0])], ignore_index=True)
df_right

      이름    연봉  가족수
0     지민  3000    3
1     민지  3200    4
2      뷔  4300    3
3     혜인  3400    6
4     해린  4200    4
5     RM  3700    3
6     제니  3850    5
7    옹성우  3900    4
8     리사  4100    3
9     로제  4150    3
10    윤아  3000    3
11    조이  3500    3
12    슬기  3200    4
13  강다니엘  3050    4
14     진  4300    3
15   김사과  9000   10